<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>adoption system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signupCustController</display-name>
    <servlet-name>signupCustController</servlet-name>
    <servlet-class>Controller.signupCustController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupCustController</servlet-name>
    <url-pattern>/signupCustController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustDAO</display-name>
    <servlet-name>CustDAO</servlet-name>
    <servlet-class>dao.CustDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDAO</servlet-name>
    <url-pattern>/CustDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerBean</display-name>
    <servlet-name>CustomerBean</servlet-name>
    <servlet-class>model.CustomerBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerBean</servlet-name>
    <url-pattern>/CustomerBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionManager</display-name>
    <servlet-name>ConnectionManager</servlet-name>
    <servlet-class>db.ConnectionManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionManager</servlet-name>
    <url-pattern>/ConnectionManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginCustController</display-name>
    <servlet-name>loginCustController</servlet-name>
    <servlet-class>Controller.loginCustController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginCustController</servlet-name>
    <url-pattern>/loginCustController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewCustController</display-name>
    <servlet-name>viewCustController</servlet-name>
    <servlet-class>Controller.viewCustController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewCustController</servlet-name>
    <url-pattern>/viewCustController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateCustController</display-name>
    <servlet-name>updateCustController</servlet-name>
    <servlet-class>Controller.updateCustController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCustController</servlet-name>
    <url-pattern>/updateCustController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffDAO</display-name>
    <servlet-name>StaffDAO</servlet-name>
    <servlet-class>model.StaffDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffDAO</servlet-name>
    <url-pattern>/StaffDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffBean</display-name>
    <servlet-name>StaffBean</servlet-name>
    <servlet-class>model.StaffBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffBean</servlet-name>
    <url-pattern>/StaffBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>staffDAO</display-name>
    <servlet-name>staffDAO</servlet-name>
    <servlet-class>dao.staffDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staffDAO</servlet-name>
    <url-pattern>/staffDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signupStaffController</display-name>
    <servlet-name>signupStaffController</servlet-name>
    <servlet-class>Controller.signupStaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupStaffController</servlet-name>
    <url-pattern>/signupStaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginStaffController</display-name>
    <servlet-name>loginStaffController</servlet-name>
    <servlet-class>Controller.loginStaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginStaffController</servlet-name>
    <url-pattern>/loginStaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listCustController</display-name>
    <servlet-name>listCustController</servlet-name>
    <servlet-class>Controller.listCustController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listCustController</servlet-name>
    <url-pattern>/listCustController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listStaffController</display-name>
    <servlet-name>listStaffController</servlet-name>
    <servlet-class>Controller.listStaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listStaffController</servlet-name>
    <url-pattern>/listStaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewStaffController</display-name>
    <servlet-name>viewStaffController</servlet-name>
    <servlet-class>Controller.viewStaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewStaffController</servlet-name>
    <url-pattern>/viewStaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateStaffController</display-name>
    <servlet-name>updateStaffController</servlet-name>
    <servlet-class>Controller.updateStaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStaffController</servlet-name>
    <url-pattern>/updateStaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteStaffController</display-name>
    <servlet-name>deleteStaffController</servlet-name>
    <servlet-class>Controller.deleteStaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStaffController</servlet-name>
    <url-pattern>/deleteStaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PetsBean</display-name>
    <servlet-name>PetsBean</servlet-name>
    <servlet-class>model.PetsBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetsBean</servlet-name>
    <url-pattern>/PetsBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPetsController</display-name>
    <servlet-name>addPetsController</servlet-name>
    <servlet-class>Controller.addPetsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPetsController</servlet-name>
    <url-pattern>/addPetsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PetDAO</display-name>
    <servlet-name>PetDAO</servlet-name>
    <servlet-class>dao.PetDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetDAO</servlet-name>
    <url-pattern>/PetDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCatsController</display-name>
    <servlet-name>addCatsController</servlet-name>
    <servlet-class>Controller.addCatsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCatsController</servlet-name>
    <url-pattern>/addCatsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatDAO</display-name>
    <servlet-name>CatDAO</servlet-name>
    <servlet-class>dao.CatDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatDAO</servlet-name>
    <url-pattern>/CatDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatsDAO</display-name>
    <servlet-name>CatsDAO</servlet-name>
    <servlet-class>model.CatsDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatsDAO</servlet-name>
    <url-pattern>/CatsDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatsBean</display-name>
    <servlet-name>CatsBean</servlet-name>
    <servlet-class>model.CatsBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatsBean</servlet-name>
    <url-pattern>/CatsBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listCatsController</display-name>
    <servlet-name>listCatsController</servlet-name>
    <servlet-class>Controller.listCatsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listCatsController</servlet-name>
    <url-pattern>/listCatsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewCatsController</display-name>
    <servlet-name>viewCatsController</servlet-name>
    <servlet-class>Controller.viewCatsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewCatsController</servlet-name>
    <url-pattern>/viewCatsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateCatsController</display-name>
    <servlet-name>updateCatsController</servlet-name>
    <servlet-class>Controller.updateCatsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCatsController</servlet-name>
    <url-pattern>/updateCatsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCatsController</display-name>
    <servlet-name>deleteCatsController</servlet-name>
    <servlet-class>Controller.deleteCatsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCatsController</servlet-name>
    <url-pattern>/deleteCatsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DogsBean</display-name>
    <servlet-name>DogsBean</servlet-name>
    <servlet-class>model.DogsBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DogsBean</servlet-name>
    <url-pattern>/DogsBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DogDAO</display-name>
    <servlet-name>DogDAO</servlet-name>
    <servlet-class>dao.DogDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DogDAO</servlet-name>
    <url-pattern>/DogDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDogsController</display-name>
    <servlet-name>addDogsController</servlet-name>
    <servlet-class>Controller.addDogsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDogsController</servlet-name>
    <url-pattern>/addDogsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listDogsController</display-name>
    <servlet-name>listDogsController</servlet-name>
    <servlet-class>Controller.listDogsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listDogsController</servlet-name>
    <url-pattern>/listDogsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewDogsController</display-name>
    <servlet-name>viewDogsController</servlet-name>
    <servlet-class>Controller.viewDogsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewDogsController</servlet-name>
    <url-pattern>/viewDogsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateDogsController</display-name>
    <servlet-name>updateDogsController</servlet-name>
    <servlet-class>Controller.updateDogsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateDogsController</servlet-name>
    <url-pattern>/updateDogsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteDogsController</display-name>
    <servlet-name>deleteDogsController</servlet-name>
    <servlet-class>Controller.deleteDogsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDogsController</servlet-name>
    <url-pattern>/deleteDogsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listAdoptCatsController</display-name>
    <servlet-name>listAdoptCatsController</servlet-name>
    <servlet-class>Controller.listAdoptCatsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAdoptCatsController</servlet-name>
    <url-pattern>/listAdoptCatsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adoptCatsController</display-name>
    <servlet-name>adoptCatsController</servlet-name>
    <servlet-class>Controller.adoptCatsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adoptCatsController</servlet-name>
    <url-pattern>/adoptCatsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPetController</display-name>
    <servlet-name>addPetController</servlet-name>
    <servlet-class>Controller.addPetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPetController</servlet-name>
    <url-pattern>/addPetController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PetBean</display-name>
    <servlet-name>PetBean</servlet-name>
    <servlet-class>model.PetBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetBean</servlet-name>
    <url-pattern>/PetBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PetsDAO</display-name>
    <servlet-name>PetsDAO</servlet-name>
    <servlet-class>dao.PetsDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetsDAO</servlet-name>
    <url-pattern>/PetsDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listPetsController</display-name>
    <servlet-name>listPetsController</servlet-name>
    <servlet-class>Controller.listPetsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listPetsController</servlet-name>
    <url-pattern>/listPetsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPetsController</display-name>
    <servlet-name>viewPetsController</servlet-name>
    <servlet-class>Controller.viewPetsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPetsController</servlet-name>
    <url-pattern>/viewPetsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePetsController</display-name>
    <servlet-name>updatePetsController</servlet-name>
    <servlet-class>Controller.updatePetsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePetsController</servlet-name>
    <url-pattern>/updatePetsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePetsController</display-name>
    <servlet-name>deletePetsController</servlet-name>
    <servlet-class>Controller.deletePetsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePetsController</servlet-name>
    <url-pattern>/deletePetsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listAdoptPetsController</display-name>
    <servlet-name>listAdoptPetsController</servlet-name>
    <servlet-class>Controller.listAdoptPetsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAdoptPetsController</servlet-name>
    <url-pattern>/listAdoptPetsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adoptPetsController</display-name>
    <servlet-name>adoptPetsController</servlet-name>
    <servlet-class>Controller.adoptPetsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adoptPetsController</servlet-name>
    <url-pattern>/adoptPetsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionBean</display-name>
    <servlet-name>QuestionBean</servlet-name>
    <servlet-class>model.QuestionBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionBean</servlet-name>
    <url-pattern>/QuestionBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionDAO</display-name>
    <servlet-name>QuestionDAO</servlet-name>
    <servlet-class>dao.QuestionDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionDAO</servlet-name>
    <url-pattern>/QuestionDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addQuestionController</display-name>
    <servlet-name>addQuestionController</servlet-name>
    <servlet-class>Controller.addQuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addQuestionController</servlet-name>
    <url-pattern>/addQuestionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewQuestionController</display-name>
    <servlet-name>viewQuestionController</servlet-name>
    <servlet-class>Controller.viewQuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewQuestionController</servlet-name>
    <url-pattern>/viewQuestionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateQuestionController</display-name>
    <servlet-name>updateQuestionController</servlet-name>
    <servlet-class>Controller.updateQuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateQuestionController</servlet-name>
    <url-pattern>/updateQuestionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteQuestionController</display-name>
    <servlet-name>deleteQuestionController</servlet-name>
    <servlet-class>Controller.deleteQuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteQuestionController</servlet-name>
    <url-pattern>/deleteQuestionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listQuestionController</display-name>
    <servlet-name>listQuestionController</servlet-name>
    <servlet-class>Controller.listQuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listQuestionController</servlet-name>
    <url-pattern>/listQuestionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adoptQuestionController</display-name>
    <servlet-name>adoptQuestionController</servlet-name>
    <servlet-class>Controller.adoptQuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adoptQuestionController</servlet-name>
    <url-pattern>/adoptQuestionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostAdoptionBean</display-name>
    <servlet-name>PostAdoptionBean</servlet-name>
    <servlet-class>model.PostAdoptionBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostAdoptionBean</servlet-name>
    <url-pattern>/PostAdoptionBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostAdoptionDAO</display-name>
    <servlet-name>PostAdoptionDAO</servlet-name>
    <servlet-class>dao.PostAdoptionDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostAdoptionDAO</servlet-name>
    <url-pattern>/PostAdoptionDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPostAdoption</display-name>
    <servlet-name>viewPostAdoption</servlet-name>
    <servlet-class>Controller.viewPostAdoption</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPostAdoption</servlet-name>
    <url-pattern>/viewPostAdoption</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPostAdoptionController</display-name>
    <servlet-name>viewPostAdoptionController</servlet-name>
    <servlet-class>Controller.viewPostAdoptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPostAdoptionController</servlet-name>
    <url-pattern>/viewPostAdoptionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listPostAdoptionController</display-name>
    <servlet-name>listPostAdoptionController</servlet-name>
    <servlet-class>Controller.listPostAdoptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listPostAdoptionController</servlet-name>
    <url-pattern>/listPostAdoptionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePostAdoptionController</display-name>
    <servlet-name>deletePostAdoptionController</servlet-name>
    <servlet-class>Controller.deletePostAdoptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePostAdoptionController</servlet-name>
    <url-pattern>/deletePostAdoptionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadImageController</display-name>
    <servlet-name>uploadImageController</servlet-name>
    <servlet-class>Controller.uploadImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadImageController</servlet-name>
    <url-pattern>/uploadImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageDAO</display-name>
    <servlet-name>ImageDAO</servlet-name>
    <servlet-class>dao.ImageDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageDAO</servlet-name>
    <url-pattern>/ImageDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageBean</display-name>
    <servlet-name>ImageBean</servlet-name>
    <servlet-class>model.ImageBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageBean</servlet-name>
    <url-pattern>/ImageBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testDAO</display-name>
    <servlet-name>testDAO</servlet-name>
    <servlet-class>dao.testDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testDAO</servlet-name>
    <url-pattern>/testDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDAO</display-name>
    <servlet-name>ProductDAO</servlet-name>
    <servlet-class>dao.ProductDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDAO</servlet-name>
    <url-pattern>/ProductDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdDAO</display-name>
    <servlet-name>ProdDAO</servlet-name>
    <servlet-class>model.ProdDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdDAO</servlet-name>
    <url-pattern>/ProdDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductBean</display-name>
    <servlet-name>ProductBean</servlet-name>
    <servlet-class>model.ProductDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductBean</servlet-name>
    <url-pattern>/ProductBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdBean</display-name>
    <servlet-name>ProdBean</servlet-name>
    <servlet-class>model.ProductBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdBean</servlet-name>
    <url-pattern>/ProdBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productDAO</display-name>
    <servlet-name>productDAO</servlet-name>
    <servlet-class>dao.productDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productDAO</servlet-name>
    <url-pattern>/productDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionController</display-name>
    <servlet-name>QuestionController</servlet-name>
    <servlet-class>Controller.QuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionController</servlet-name>
    <url-pattern>/QuestionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestBean</display-name>
    <servlet-name>RequestBean</servlet-name>
    <servlet-class>model.RequestBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestBean</servlet-name>
    <url-pattern>/RequestBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDAO</display-name>
    <servlet-name>RequestDAO</servlet-name>
    <servlet-class>dao.RequestDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDAO</servlet-name>
    <url-pattern>/RequestDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listRequestController</display-name>
    <servlet-name>listRequestController</servlet-name>
    <servlet-class>Controller.listRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listRequestController</servlet-name>
    <url-pattern>/listRequestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveBean</display-name>
    <servlet-name>ApproveBean</servlet-name>
    <servlet-class>model.ApproveBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveBean</servlet-name>
    <url-pattern>/ApproveBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveDAO</display-name>
    <servlet-name>ApproveDAO</servlet-name>
    <servlet-class>dao.ApproveDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveDAO</servlet-name>
    <url-pattern>/ApproveDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerBean</display-name>
    <servlet-name>AnswerBean</servlet-name>
    <servlet-class>model.AnswerBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerBean</servlet-name>
    <url-pattern>/AnswerBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerDAO</display-name>
    <servlet-name>AnswerDAO</servlet-name>
    <servlet-class>dao.AnswerDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerDAO</servlet-name>
    <url-pattern>/AnswerDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerDetails</display-name>
    <servlet-name>AnswerDetails</servlet-name>
    <servlet-class>model.AnswerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerDetails</servlet-name>
    <url-pattern>/AnswerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listAnswerController</display-name>
    <servlet-name>listAnswerController</servlet-name>
    <servlet-class>Controller.listAnswerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAnswerController</servlet-name>
    <url-pattern>/listAnswerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addAnswerController</display-name>
    <servlet-name>addAnswerController</servlet-name>
    <servlet-class>Controller.addAnswerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAnswerController</servlet-name>
    <url-pattern>/addAnswerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addRequestController</display-name>
    <servlet-name>addRequestController</servlet-name>
    <servlet-class>Controller.addRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRequestController</servlet-name>
    <url-pattern>/addRequestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>requestController</display-name>
    <servlet-name>requestController</servlet-name>
    <servlet-class>Controller.requestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestController</servlet-name>
    <url-pattern>/requestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listAnswersController</display-name>
    <servlet-name>listAnswersController</servlet-name>
    <servlet-class>Controller.listAnswersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAnswersController</servlet-name>
    <url-pattern>/listAnswersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateStatusController</display-name>
    <servlet-name>updateStatusController</servlet-name>
    <servlet-class>Controller.updateStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStatusController</servlet-name>
    <url-pattern>/updateStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPostAdoptionController</display-name>
    <servlet-name>addPostAdoptionController</servlet-name>
    <servlet-class>Controller.addPostAdoptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPostAdoptionController</servlet-name>
    <url-pattern>/addPostAdoptionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>custPostAdoptionController</display-name>
    <servlet-name>custPostAdoptionController</servlet-name>
    <servlet-class>Controller.custPostAdoptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custPostAdoptionController</servlet-name>
    <url-pattern>/custPostAdoptionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPostAdoptionController2</display-name>
    <servlet-name>viewPostAdoptionController2</servlet-name>
    <servlet-class>Controller.viewPostAdoptionController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPostAdoptionController2</servlet-name>
    <url-pattern>/viewPostAdoptionController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePostAdoptionController</display-name>
    <servlet-name>updatePostAdoptionController</servlet-name>
    <servlet-class>Controller.updatePostAdoptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePostAdoptionController</servlet-name>
    <url-pattern>/updatePostAdoptionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listPostCustController</display-name>
    <servlet-name>listPostCustController</servlet-name>
    <servlet-class>Controller.listPostCustController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listPostCustController</servlet-name>
    <url-pattern>/listPostCustController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listPostCustController2</display-name>
    <servlet-name>listPostCustController2</servlet-name>
    <servlet-class>Controller.listPostCustController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listPostCustController2</servlet-name>
    <url-pattern>/listPostCustController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listPostAdoptionController2</display-name>
    <servlet-name>listPostAdoptionController2</servlet-name>
    <servlet-class>Controller.listPostAdoptionController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listPostAdoptionController2</servlet-name>
    <url-pattern>/listPostAdoptionController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPostAdoptionController2</display-name>
    <servlet-name>addPostAdoptionController2</servlet-name>
    <servlet-class>Controller.addPostAdoptionController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPostAdoptionController2</servlet-name>
    <url-pattern>/addPostAdoptionController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCustController</display-name>
    <servlet-name>deleteCustController</servlet-name>
    <servlet-class>Controller.deleteCustController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCustController</servlet-name>
    <url-pattern>/deleteCustController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePostAdoptionController2</display-name>
    <servlet-name>deletePostAdoptionController2</servlet-name>
    <servlet-class>Controller.deletePostAdoptionController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePostAdoptionController2</servlet-name>
    <url-pattern>/deletePostAdoptionController2</url-pattern>
  </servlet-mapping>
</web-app>